{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Профиль пользователя {{ author }} {% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="mb-5">
  <h1>Все посты пользователя {{ author }}</h1>
  <h3>Всего постов: {{ posts_sum }} </h3>
</div>
  {% for post in page_obj %}
    <ul>
      <li>
        Автор: {{ post.author}}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    {% thumbnail post.image "1800x1400" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text }}</p>
    <a href="{% url 'posts:post_detail' post.id %}">Подробная информация</a>
    {% if post.group %}
      <a href="{% url 'posts:group_posts' post.group.slug %}">Все записи группы</a>
    {% endif %}
  <div class="mb-5">
  <h1>Все посты пользователя {{ author}}</h1>
  <h3>Всего постов: {{ posts_sum }}</h3>
  {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
</div>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}